[Unit]
Description=Humer service - sensors readings - [location]/[MAC]

[Service]
Type=simple
User=humer
ExecStart=flock ~/.humer/readings ~/.humer/read_sensor.sh [MAC]

