[Unit]
Description=Humer service - sensors readings
After= TODO network.target
StartLimitIntervalSec= TODO

[Service]
Type=simple
Restart=always
RestartSec= TODO
User=humer
ExecStart= TODO

[Install]
WantedBy=multi-user.target