[Unit]
Description=Humer service - sensors readings - [location]/[MAC]

[Service]
Type=simple
User=humer
ExecStart=flock \
    --verbose \
    /home/humer/.humer/readings \
    --command "/home/humer/.humer/read_sensor.sh '[MAC]'"
