[Unit]
Description=Humer service - sensors readings - [location]/[MAC]

[Service]
Type=simple
ExecStart=flock \
    /root/.humer/humer.db \
    --command "timeout 5m /bin/bash /root/.humer/read_sensor.sh '[MAC]' '[location]'"
